RewriteEngine On

RewriteRule ^accueil$ accueil.php
RewriteRule ^.{0}$ index.php
RewriteRule ^factures$ view/facture/liste.php
RewriteRule ^reglements$ view/reglement/liste.php

RewriteRule ^factureController$ controller/factureController.php
RewriteRule ^reglementController$ controller/reglementController.php

